/** http://www.hp-stylelink.com/news/2013/07/20130717.php **/

* {
  box-sizing: border-box;
}

body {
  background-color: #DDEEF6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.main{
  background-color: #DDEEF6;
}

.box{
  background-color: #FFFFFF;
  /*border: solid 1px;*/
  /*border-color: #c0c0c0;*/
  box-sizing: border-box;
  text-align: left;
  line-height: 20px;
  /** font-weight: bold; **/
  /** font-size: 60px; **/
}

.box1{
  border: solid 8px;
  box-sizing: border-box;
  text-align: left;
  line-height: 20px;
  /** font-weight: bold; **/
  /** font-size: 60px; **/
}

.tweet{
  /** position: absolute;
  相対的に位置指定できない
  top: 20%;
  left: 55%; **/
  border-radius: 5px;/*角の丸み*/
}

.text1{
  float:left;
}

.text2{
  float:right;
}

.text3{
  float: left;
  border: solid 1px;
  border-color: #c0c0c0;
  width: 100%;  /** 横幅50% **/
  /**border-top-style: dashed;**/
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: dashed;
}

.trash{
  float: right;
}

.tweets{

  border: solid 1px;
  border-color: #c0c0c0;
  width: 90%;  /** 横幅50% **/
  /**border-top-style: dashed;**/
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: dashed;
}

.main_box{
  float: left;
  width: 60%;  /** 横幅50% **/
  margin-bottom: 2em;
}

.main_box .home_box{
  padding: 1em;
}
.main_box .pagination{
  padding: 1em;
}
.status_frame{
  float: left;
  background-color: white;
  padding: 1em;
  width: 38%;  /** 横幅50% **/
  margin-left: 2%;
}
