#status_box .user_name{
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#status_box .detail{
  float: left;
  width:33.33%;
  font-size:12px;
  text-decoration:none;
  display:block;
  padding:8px 0 10px;
}

#status_box .detail a{
  color:#666;
  text-decoration: none!important;
}
#status_box .detail a:hover{
  font-weight: bold;
  color: #1e7cd8;
}
#status_box .detail a:hover .count{
  color: #1e7cd8;
}
#status_box .detail a .count{
  color:#2ba1d8;
  font-weight: bold;
  font-size:2.2em;
  margin-top: 0.3rem;
}
